#player, #board, #computer {
    border: 1px solid #000;
    padding: 2px;
    margin-bottom: 2px;
    background-image: url("../../../public/assets/FundoJogo.png");
    background-size: 240%;
  }
  
  #board {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../../../public/assets/FundoJogo.png");
    justify-content: center;
  }
  
  #player {
    background-image: url("../../../public/assets/FundoJogo.png");
    background-size: 150%;
    color: #fff; 
  }
  
  #computer {
    background-size: 150%;
    color: #fff; 
  }
  
  body {
    background-size: 170%;
    background-image: url("../../../public/assets/tableMain.jpg");
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .button {
    width: 150px;
    height: 40px;
    color: #ffffff;
    background-color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .location {
    height: 160px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    flex-wrap: wrap;
    position: relative;
  } 
  .location .cardPC {
    margin-top: 30px;
  }
  
  #location1 {
    background-image: url("../../../public/assets/FireTable.jpg");
  }
  
  #location2 {
    background-image: url("../../../public/assets/WhaterTable.jpg");
  }
  
  #location3 {
    background-image: url("../../../public/assets/AirTable.jpg");
  }
  
  #player-energy-bar {
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .locations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    justify-items: center;
  }
  
  #player-hand .card {
    cursor: grab;
  }
  
  #player-hand .card:active {
    cursor: grabbing;
  }
  
  #popup {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
    display: flex;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  ul {
    margin-top: 2%;
    border: 1px solid #ffffff;
    position: relative;
    font-size: 6vw;
    list-style: none;
  }
  
  nav {
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  #menu ul {
    border: 1px solid #ffffff;
  }
  
  #menu li {
    border-right: 1px solid #ffffff;
  }
  
  #menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5vw 1vw;
    display: block;
    justify-items: center;
  }
  
  .logo {
    margin: 1vw;
  }
  
  header,
  #menu,
  #menu ul {
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
  }
  
  #menu {
    flex: 1;
    align-items: center;
    margin-block-end: 10%;
    justify-items: center;
  }
  
  .leads {
    color: #fffefe;
    display: flex;
    display: block;
    margin-left: 19%;
    margin-top: 3%;
    font-size: 2vw;
  }
  
  #Button2 {
    margin-top: 4%;
    margin-left: 35%;
    text-align: center;
    font-size: 5vw;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    opacity: 93%;
  }
  
  #leads{
    list-style-type: none;
    text-align: center;
    color: #fff;
    margin-top: 5vw;
    font-weight: bold;
    background-color: #000000;
    opacity: 80%;
    font-size: 2vw;
    display: inline-block;
    border-radius: 13%;
  }
  
  #NomeJ {
    margin-top: 4%;
    color: #fff;
    font-size: 5vw;
  }
  
  #start-btn.button{
  margin-left: 23%;
  }

  .popup-show {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .popup-hide {
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }